body{
	font-family: Courier New;
	background-color: lavenderblush;
	text-align: center;
	font-size: 40px;
	color: rebeccapurple;
}

h1{
	border: none;
	border-radius: 50px;
	background-color: plum;
	color: white;
}

.announce{
	color: rebeccapurple;
	font-size: 30px;
	list-style-position: inside;
	
}


.imp_remind{
	border: none;
	border-radius: 50px;
	background-color: thistle;
	margin: 0 80px;

	
}
.upcoming_events {
	border: none;
	border-radius: 50px;
	background-color: thistle;
	margin: 0 80px;

}


.homework {
	border: none;
	border-radius: 50px;
	background-color: thistle;
	margin: 0 80px;

}

hr {
	border: none;
    height: 4px; 
	background-color: thistle;
	width: 100%;
}

table {
      width: 100%;
      border-collapse: collapse;
	  color: rebeccapurple;
    }
th, td {
      border: 3px solid thistle;
      text-align: center;
    }

.access_form{
	width:100%;
	color: rebeccapurple;
}

.access_form input[type="password"]{
	width: 70%; 
	padding: 30px; 
	margin-bottom: 15px;
	border: 2px solid thistle;
	border-radius: 75px; 
	font-size: 40px; 
	text-align: center;
	outline: none;
	}

.access_form button[type="submit"]{
	background-color: thistle; 
	padding: 20px; 
	border: none; 
	border-radius: 50px; 
	font-size: 30px;
	text-align: center; 
	font-family: Courier New;
	color: rebeccapurple;
}

a{
	font-size: 40px;
	color: rebeccapurple;
}


.for_students {
	border: none;
	border-radius: 50px;
	background-color: thistle;
	margin: 0 80px;

}

.for_teachers {
	border: none;
	border-radius: 50px;
	background-color: thistle;
	margin: 0 80px;

}