<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Activity Hub</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">	
</head>
<body>
	<a href="{{ url_for('home') }}" style="text-decoration: none;">Home</a>
	<a href="{{ url_for('announce') }}" style="text-decoration: none;">Announcements</a>
	<a href="{{ url_for('attendance') }}" style="text-decoration: none;">Attendance</a>
	<a href="{{ url_for('schedule') }}" style="text-decoration: none;">Schedule</a>
	<a href="{{ url_for('admin') }}" style="text-decoration: none;">Admin</a>
	
	<h1>Announcements</h1>
<div class="announce">
	<div class="homework">
		<h2>Homework</h2>
		<ul>
			{% for homework in homeworks[::-1] %}
			<li>{{ homework[1] }}</li>
			{% endfor %}
		</ul>
	</div>
	<hr><hr>

	<div class="upcoming_events">
		<h2>Upcoming Events</h2>
		<ul>
			{% for event in events[::-1] %}
			<li>{{ event[1] }}</li>
			{% endfor %}
		</ul>
	</div>
	<hr><hr>
	<div class="imp_remind">
		<h2>Important Reminders</h2>
		<ul>
			{% for reminder in reminders[::-1] %}
			<li>{{ reminder[1] }}</li>
			{% endfor %}
		</ul>
	</div>

</div>
</body>
</html>