<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Activity Hub</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">	
</head>
<body>
	<a href="{{ url_for('home') }}" style="text-decoration: none;">Home</a>
	<a href="{{ url_for('announce') }}" style="text-decoration: none;">Announcements</a>
	<a href="{{ url_for('attendance') }}" style="text-decoration: none;">Attendance</a>
	<a href="{{ url_for('schedule') }}" style="text-decoration: none;">Schedule</a>
	<a href="{{ url_for('admin') }}" style="text-decoration: none;">Admin</a>
	
	<h1>Announcements</h1><hr>
<div class="announce">
	<div class="homework"><br>
		<h2>Homework</h2>
		<ul>
			{% if not homeworks %}
			<li>No homework!</li>
			{% else %}
			{% for homework in homeworks[::-1] %}
			<li>{{ homework[1] }}</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div><hr>


	<div class="upcoming_events"><br>
		<h2>Upcoming Events</h2>
		<ul>
			{% if not events %}
			<li>No upcoming events!</li>
			{% else %}
			{% for event in events[::-1] %}
			<li>{{ event[1] }}</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div><hr>

	<div class="imp_remind"><br>
		<h2>Important Reminders</h2>
		<ul>
			{% if not reminders %}
			<li>No important reminders!</li>
			{% else %}
			{% for reminder in reminders[::-1] %}
			<li>{{ reminder[1] }}</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div>

</div>
</body>
</html>