<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Activity Hub</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">	
</head>
<body>
  <a href="{{ url_for('home') }}" style="text-decoration: none;">Home</a>
  <a href="{{ url_for('announce') }}" style="text-decoration: none;">Announcements</a>
  <a href="{{ url_for('attendance') }}" style="text-decoration: none;">Attendance</a>
  <a href="{{ url_for('schedule') }}" style="text-decoration: none;">Schedule</a>
  <a href="{{ url_for('admin') }}" style="text-decoration: none;">Admin</a>

  <h1>Admin Control Page</h1>
  <h2>Annoucement</h2>
  <h3>Add Announcement</h3>
  <form method="POST">
    <input type="hidden" name="type" value="announcement">
    <label for="homework">New Homework:</label>
    <input type="text" name="homework" id="homework"><br><br>
    <label for="event">New Event:</label>
    <input type="text" name="event" id="event"><br><br>
    <label for="reminder">New Reminder:</label>
    <input type="text" name="reminder" id="reminder"><br><br>
    <button type="submit">ADD</button>
  </form>
  <h3>Delete Announcement</h3>
  {% for announcement in announcements %}
  <form method="POST">
      <input type="hidden" name="type" value="delete_announcement">
      <input type="checkbox" id="{{ loop.index }}" name="delete_announcement" value="{{ announcement[0] }}">
      <label for="stu_{{ loop.index }}">{{ announcement[1] }}</label><br>
  {% endfor %}
  <button type="submit">DELETE</button>
  </form>
  <h2>Add attendance</h2>
  <h3>Add student</h3>
  <form method="POST">
    <input type="hidden" name="type" value="student">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required><br><br>
    <label for="class">Class:</label>
    <input type="text" name="class" id="class" required><br><br>
    <button type="submit">ADD</button>
  </form>
  <form method="POST">
    <input type="hidden" name="type" value="attendance">
    <label for="ab_day">Day:</label>
    <input type="text" name="ab_day" id="ab_day" required><br><br>
    <label for="month">Month:</label>
    <input type="text" name="month" id="month" required><br><br>

    <label>Select absent WITHOUT valid reason students:</label><br>
    {% for student in student_name %}
        <input type="checkbox" id="stu_{{ loop.index }}" name="absent_student" value="{{ student[0] }}">
        <label for="stu_{{ loop.index }}">{{ student[0] }}({{ student[1] }})</label><br>
    {% endfor %}

    <label>Select absent WITH valid reason students:</label><br>
    {% for student in student_name %}
        <input type="checkbox" id="stu_vr_{{ loop.index }}" name="vr_student" value="{{ student[0] }}">
        <label for="stu_vr_{{ loop.index }}">{{ student[0] }}({{ student[1] }})</label><br>
    {% endfor %}
    <button type="submit">ADD</button>
  </form>
  <h2>Add Schedule</h2>
  <form method="POST">
    <input type="hidden" name="type" value="schedule">
    <label for="term">Term:</label>
    <input type="text" name="term" id="term" required><br><br>
    <label for="week">Week:</label>
    <input type="text" name="week" id="week" required><br><br>
    <label for="date">Date:</label>
    <input type="text" name="date" id="date" required><br><br>
    <label for="day">Day:</label>
    <input type="text" name="day" id="day" required><br><br>
    <label for="session">Session:</label>
    <input type="text" name="session" id="session" required><br><br>
    <label for="start">Start:</label>
    <input type="text" name="start" id="start" required><br><br>
    <label for="end">End:</label>
    <input type="text" name="end" id="end" required><br><br>
    <label for="remark">Remark:</label>
    <input type="text" name="remark" id="remark" required><br><br>
    <button type="submit">ADD</button>
  </form>
  
  <a href="{{ url_for('logout') }}">Log out</a>
</body>
</html>