<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Activity Hub</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">	
</head>
<body>
	<a href="{{ url_for('home') }}" style="text-decoration: none;">Home</a>
	<a href="{{ url_for('announce') }}" style="text-decoration: none;">Announcements</a>
	<a href="{{ url_for('attendance') }}" style="text-decoration: none;">Attendance</a>
	<a href="{{ url_for('schedule') }}" style="text-decoration: none;">Schedule</a>
	<a href="{{ url_for('admin') }}" style="text-decoration: none;">Admin</a>
	
	<h1>Welcome to Activity Hub!</h1>
	<h2>How to use Activty Hub</h2>
	<div class="for_students">
	<ul>
		<h3>For Students</h3>
		<li>Navigate to the needed information by clikcing the words at the top of the website</li>
		<li>Use it wisely and enjoy!</li>	
	</ul>
	</div>
	<div class="for_teachers">
	<ul>
		<h3>For Teachers</h3>
		<li>Access the admin page by clicking Admin on the top of the website</li>
		<li>Enter the admin password to edit Activty Hub contents</li>	
		<li>Remember to submit and log out</li>
		<li>Never share your password with untrusted individuals and enjoy!</li>
	</ul>
	</div>

	
</body>
</html>