<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Activity Hub</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">	
</head>
<body>
	<a href="{{ url_for('home') }}" style="text-decoration: none;">Home</a>
	<a href="{{ url_for('announce') }}" style="text-decoration: none;">Announcements</a>
	<a href="{{ url_for('attendance') }}" style="text-decoration: none;">Attendance</a>
	<a href="{{ url_for('schedule') }}" style="text-decoration: none;">Schedule</a>
	<a href="{{ url_for('admin') }}" style="text-decoration: none;">Admin</a>
	
	<h1>Schedule</h1>
	<table>
		<tr>
			<th>Schedule</th>
			<th>Term</th>
			<th>Week</th>
			<th>Date</th>
			<th>Day</th>
			<th>Session</th>
			<th>Start</th>
			<th>End</th>
			<th>Remarks</th>
		</tr>
		{% for schedule in data %}
		<tr>
			{% for input in schedule %}
			<td>{{ input }}</td>
			{% endfor %}
		</tr>	
		{% endfor %}
	</table>
</body>
</html>